body {
  font-family: "Arial", sans-serif;
  background-color: #121212 !important; /* Satisfactory dark background color */
  color: #ffffff; /* Satisfactory text color */
  margin: 0;
  padding: 0;
}

header {
  background-color: #ff4b00; /* Satisfactory orange color */
  padding: 20px;
  text-align: center;
  position: relative;
}

.container {
  margin: 0 auto;
  padding: 20px;
}

.selection-area,
.recipe-details,
.raw-materials {
  background-color: #2d2d2d; /* Updated lighter color for panels */
  margin-bottom: 20px;
  padding: 20px;
  position: relative;
}

.img-icon {
  max-width: 30px;
}

/* .custom-select {
  background-color: #2d2d2d !important;
} */

.select2-container--bootstrap-5 .select2-selection {
  background-color: #2d2d2d !important;
  border-color: #ecf0f1 !important;
  box-shadow: 0 0 0 0 !important;
}

.select2-container--bootstrap-5 .select2-dropdown {
  color: #ecf0f1 !important;
  border-color: #ecf0f1 !important;
  box-shadow: 0 0 0 0 !important;
}

.select2-dropdown,
.select2-container .select2-search .select2-results {
  background-color: #2d2d2d !important;
  border-color: #ecf0f1 !important;
  box-shadow: 0 0 0 0 !important;
}

.select2-search__field {
  background-color: #2d2d2d !important;
  border-color: #ecf0f1 !important;
  box-shadow: 0 0 0 0 !important;
  color: #ecf0f1 !important;
}

.select2-selection__rendered {
  color: #ff4b00 !important;
  border-color: #ecf0f1 !important;
  box-shadow: 0 0 0 0 !important;
}

.select2-selection__arrow b {
  display: none !important;
}

.form-control {
  background-color: #2d2d2d !important;
  border-color: #ecf0f1 !important;
  box-shadow: 0 0 0 0 !important;
  color: #ecf0f1 !important;
}

.form-text-custom {
  background-color: #2d2d2d !important;
  border-color: #ecf0f1 !important;
  box-shadow: 0 0 0 0 !important;
  color: #ecf0f1 !important;
}

#raw-materials-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
}

#raw-materials-list > div {
  width: 100%;
}

h2,
h3 {
  color: #ff4b00; /* Satisfactory orange color */
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Add additional styles based on your requirements */
a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
}

#new-recipe {
  position: absolute;
  top: 20px;
  right: 20px;
}

.satisfactory-button {
  background-color: #2c3e50; /* Dark blue-gray background color */
  color: #ecf0f1 !important; /* Light gray text color */
  padding: 15px 25px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /* Add a subtle gradient effect */
  background-image: linear-gradient(to bottom, #34495e, #2c3e50) !important;
}

.satisfactory-button:hover {
  background-image: linear-gradient(to bottom, #2c3e50, #34495e) !important;
}

.satisfactory-button:active {
  background-image: linear-gradient(to bottom, #2c3e50, #34495e) !important;
}

.btn-check:checked + .satisfactory-button {
  background-image: linear-gradient(to bottom, #2c3e50, #34495e) !important;
  color: #ff4b00 !important;
}

.hidden {
  display: none;
}
